*{
    background-color: bisque;
    margin:5px;
}
body{
    height: 100vh;
    width:100%;
}
.container{
    font-size: 5rem;
    color: rgb(40, 161, 121);
    font-family: 'Lobster';
    text-align: center;
}
img{
    width:100px;
    margin:35px;

}
.players{
    display:flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Indie Flower';
    gap:80px;
}

.button{
    margin:10px;
    display: flex;
    justify-content: center;
    height: 100px;
}
button{
    width:100px;
    height:50px;
    padding:4px 8px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color:rgba(221, 7, 7, 0.877) ;
    color:#fff;

}
footer{
    text-align: center;
    font-size: 1rem;
}
